@charset "UTF-8";

/*Mobile first*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dancing+Script:wght@700&family=Fraunces:ital,opsz@1,9..144&family=Heebo&family=Rubik&family=Secular+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    

}

header{
    background-color: #bf9663;
    border: 1px solid #bf9663;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

h1{
    color: white;
    font-family: Dancing Script,sans-serif ;
    text-align:left;
    font-size: 2.5em;
    padding: 5px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    margin-left: 5px;
}

nav{
    display: block;
    margin: 10px;
    padding: 10px;
    
    
}
ul{
    text-decoration: none;
    list-style: none;
}

li{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

section#home{
    width: 100vw;
    height: 45vh;
    background-image: url(pexels-kerim-eveyik-15866041.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
article{

    display: block;
    width: 100vw;
    margin: auto;
    margin-top: 5px;
    padding: 20px;
    border-radius: 2px;
    text-align: justify;

}
h2{
    text-align: center;
    padding: 3px;
}

section#segundo{
    height:60vh;
    background-color: black;
}

#foto{
    float: left;
    background-image: url(pexels-pox-pop-8546965.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100%;
    width: 50%;
}

#texto{
    margin-top: 150px;
    padding-left: 10px;
    float: right;
    align-items: center;
    color: white;
    font-size: 2em;
    width: 50%;
}

#botao{
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10%;
    width: 80px;
}

#botao:hover{
    background-color:#d99f3294;
    color: black;
    transition-duration:1.0s;
}
