@charset "UTF-8";

body{
    background-image: linear-gradient(#59EBAE,#5DF58B,#5FDE62);
}

H1{
    color: darkgreen;
    
}

h1#principal{
    background-color: #097529;
    color: #f9ffeb;
    text-align: center;
}



a#principal{
    color: red;
}
.basico{
    text-align: center;
    
}
.intermediario{
    text-align: center;
}
.Avançado{
    text-align: center;
}